{% extends 'base.html' %}
{% block content %}

<div class="container">
  <button id="pay-button">Open the modal of payment</button>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
'use strict'
//Remember set the html element more precisely
var button = document.querySelector('button')

button.addEventListener('click', function(e) {
  e.preventDefault();
  function handleSuccess (data) {
    console.log(data);
    window.location.href  = '/success';
  }

  function handleError (data) {
    console.log(data);
    //window.location.href  = '/url of handleError';
  }

  var checkout = new PagarMeCheckout.Checkout({
    encryption_key: '{{ key }}', 
    success: handleSuccess,
    error: handleError
  });

  checkout.open({
    amount: {{ valor_compra }},
    customerData: 'true',
    uiColor: '#f4947b',     //Set the color as you like
    items: [
      {% for item in lista_items %}
      {
        id: '{{item.id}}',
        title: '{{ item.title }}',
        unit_price: {{ item.unit_price }},
        quantity: {{item.quantity}},
        tangible: true
      },
      {% endfor %}
    ], 
    maxInstallments: {{ installments }},
  })  

});
</script>   
{% endblock  %}
