{% extends 'base.html' %}
{% block content %}

<div class="container">
  <hr>
  <input type='button' value="Logout" onclick='window.location.href="{% url 'logout' %}"'>
  </br></br>
  <button id="pay-button">Open the modal of payment</button>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
'use strict'

var button = document.getElementById('pay-button')

button.addEventListener('click', function(e) {
  e.preventDefault();
  function handleSuccess (data) {
    console.log(data);
    //window.location.href  = '/success'; //Url success
  }

  function handleError (data) {
    console.log(data);
    //window.location.href  = '/url of handleError';
  }

  var checkout = new PagarMeCheckout.Checkout({
    encryption_key: '{{ key }}', 
    success: handleSuccess,
    error: handleError
  });

  checkout.open({
    amount: {{ valor_compra }},
    capture: 'true',
    customerData: 'true',
    uiColor: '#f4947b',     //Set the color as you like
    postback_url: 'https://b5709dd0.ngrok.io/post-back/',    // Set your URL  for post-back here
    customer: {
      external_id: '{{ metadata.external_id }}'
    },
    items: [
      {% for item in lista_items %}
      {
        id: '{{item.id}}',
        title: '{{ item.title }}',
        unit_price: {{ item.unit_price }},
        quantity: {{item.quantity}},
        tangible: true
      },
      {% endfor %}
    ], 
    maxInstallments: {{ installments }},
   })  

});
</script>   
{% endblock  %}
